[Service]
ExecStart=/usr/bin/python /home/pi/steadyforge/pirestart.py
WorkingDirectory=/home/pi/steadyforge/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pirestart
User=root
Group=root

[Install]
WantedBy=multi-user.target
